.title {
  font-size: 36px;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 2px solid black;
  padding: 90px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.button {
  font-size: 36px;
  flex: 1;
  margin: 0;
  padding: 0;
  border: 0;
  border: 2px solid black;
  background-color: #4db6ac;
  font-family: "Verdana", sans-serif;
  padding-block: 5px;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #00a897;
}

.button:focus {
  background-color: #00a897;
}

.input {
  font-size: 46px;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: "Verdana", sans-serif;
  padding-block: 15px;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.input:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.input:focus {
  background-color: #00a8971d;
}
